<div id="daily-schedule" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" #dailySchedule>
  <h1>Schedule a plan</h1>
  <div *ngIf="planList.length <= 0">
    The daily schedule is currently empty
  </div>
  <div *ngIf="formValues">
    <h2>{{ formValues.name }} plan</h2>
    <p>{{ formValues.selectedDate | date: 'MMMM d, y' }}</p>
  </div>
  <div class="daily-schedule-list" *ngFor="let item of planList" cdkDrag>
    <div class="daily-schedule-item">
      <h2>{{ item.name }}</h2>
      <i class="fas {{ item.image }} circle-icon"></i>
      <button class="btn-remove" (click)="deleteFromDailyPlan(item)">
        ×
      </button>
    </div>
  </div>
  <button id="btn-print" (click)="print()">Print</button>
  <button id="btn-reset" (click)="resetPlan()">
    Reset
  </button>
</div>
