<div id="daily-schedule" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <h1>Today's plan</h1>
  <p>1st Feb, 2019</p>
  <!--today-->
  <div class="daily-schedule-list" *ngFor="let task of currentPlan" cdkDrag>
    <div class="daily-schedule-item">
      <h2>{{task.name}}</h2>
      <p><label for="Time-001">Time: </label>
        <input type="text" name="Time-001"></p>
      <i class="fas {{task.image }} circle-icon"></i>
      <button class="btn-remove">×</button>
    </div>
  </div>
  <button id="btn-share" (click)="print()">Print</button>
  <button id="btn-reset">Reset</button>
</div>